<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/serkan</property>
  
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.connection.password">Serkan1907</property>
  
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
 
  <property name="hibernate.hbm2ddl.auto">create</property>
  <property name="hibernate.show_sql">true</property>
  
  <mapping class="deneme.Student"/>
  
  <mapping class="deneme.Student2"/>
  
  <mapping class="deneme.Student3"/>
  
  <mapping class="deneme.Adress"/>
  <mapping class="deneme.Employee"/>
 	
  
 </session-factory>
</hibernate-configuration>